venv/
project/.APICredentials.txt
project/TokenApp.txt
project/ETL/credentials.py
project/Acc.txt
project/__pycache__
project/web_scrapper_labels/__pycache__/
project/ETL/__pycache__/
project/ETL/RawFiles/
project/web_scrapper_labels/unstructured_labels.json